*{
    border:1px solid black;
    box-shadow: 2px 2px 5px solid grey;
    /* padding:20px; */
    margin:20px;
    background-color: cornflowerblue;
}
img{
   display:flex;
   /*  */
   align-content: center;
}